apiVersion: v1
kind: Pod
metadata:
  name: customer-db-init
  namespace: customer-service
spec:
  restartPolicy: Never
  containers:
    - name: psql
      image: bitnami/postgresql:16
      command: ["sleep", "infinity"]
      env:
        - name: PGHOST
          value: c4-app-db.cfkm648uqlug.ap-northeast-2.rds.amazonaws.com
        - name: PGPORT
          value: "5432"
        - name: PGDATABASE
          value: postgres
        - name: PGUSER
          valueFrom:
            secretKeyRef:
              name: customer-service-db-secret
              key: username
        - name: PGPASSWORD
          valueFrom:
            secretKeyRef:
              name: customer-service-db-secret
              key: password